*, *::before, *::after { box-sizing: border-box;}

body{
    background-color: #ff944d;
    color: #555;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

#main-header{
    margin:0;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0px;
    font-style: italic;
    font-family: 'Trebuchet MS';
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding:0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding: 20px;
}

#navbar a:hover{
    background-color: #99B927;
}

/*
#navbar a:active{
    background-color: #DC143C;
    font-weight: 600;
}*/

#current{
    background-color: #99B927;
    font-weight: 600;
}

#index-list{
    margin: 10px;
    padding: 0px;
    list-style: none;
}

#index-list .info-box{
    text-align: middle;

    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    padding: 20px 40px;
    border: 1px dashed #555;
    border-radius: 15px;
    background-color: #f4f4f4;
}

#index-list .image-box{
    margin-top: 5px;
    margin-bottom:5px;
    margin: auto;
}

#index-list .image-box img{
    margin: auto;
    max-width: 20%;
}

#index-list li:nth-child(even) .info-box{
    float:right;

    margin: 5px;
    width: 60%;
    padding: 20px 40px;
    border: 1px dashed #555;
    border-radius: 15px;
    background-color: #f4f4f4;
}

#index-list li:nth-child(odd) .info-box{
    float:left;

    margin: 5px;
    width: 60%;
    padding: 20px 40px;
    border: 1px dashed #555;
    border-radius: 15px;
    background-color: #f4f4f4;
}

#index-list li:nth-child(odd) .showcase{
    width:20%;
    float: right;
    text-align:center;
}

#index-list li:nth-child(even) .showcase{
    width:20%;
    float: left;
    text-align:center;
}

#last-image{
    margin-bottom: 50px;
}

.info-box ul{
    list-style-type: disc;
}

/* #index-list li:nth-child(odd) img{
    float:right;
    width:200px;
    margin:auto;
    padding: 40px 20px;
}

#index-list li:nth-child(even) .container{
    float:right;
    text-align: right;
}

#index-list li:nth-child(even) img{
    float:left
} */

#index-list .container ul{
    list-style: circle;
}

.clr{
    clear: both;
}

.block{
    float: left;
    width: 50%;
    border:1px solid #ccc;
    box-sizing: border-box;
}

.block h3{
    text-align: center;
    padding:10px;
}

#github:hover{
    background-color: #555;
}

#facebook:hover{
    background-color: #1877F2;
}

#discord:hover{
    background-color: #738ADB;
}

#instagram:hover{
    background-color: #dd2a7b;
}

.block:hover a{
    color: #fff;
}

.block a{
    text-decoration:none;
    color:#555;
}